<div class="confirmation">
    <div class="confirmation-details">
        <div class="title">
            Success!
        </div>
        <div class="detail">
            Thank you, <b>{{ name }}</b>
        </div>
        <div class="detail">
            Your order is confirmed!
        </div>
        <div class="detail">
            Delivery will be done in 1 to 3 days.
        </div>
        <div class="detail">
            <a routerLink="/"> Return to product list </a>
        </div>
    </div>
</div>
