.confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
}

.confirmation-details {
    display: flex;
    flex-direction: column;
}

.detail {
    margin-bottom: 20px;
}